{% extends "base.html" %}
{% block header %}
	<div class="container">
		<form action="/blog/editpost/{{post.key().id()}}" method="post">
			<div class="form-group">
				<label>Subject</label>
				<input type="text" name="subject" value="{{post.subject}}" class="form-control" /><br />
			</div>

			<div class="form-group">
				<label>Content</label>
				<textarea name="content" cols="50" rows="20" class="form-control">{{post.content}}</textarea><br />
				<span class="error-string">{{msg}}</span>
			</div>

			<div class="form-group text-right">
				<a href="/blog" role="button" class="btn btn-default">Cancel</a>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
{% endblock %}